@page
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<div class="container">
    <div id="errors" style="text-align:center;">
    </div>
    <div id="messages" style="text-align:center;">
    </div>
    <div>
        <label for="doorLabel">Door Label</label>
        <input for="addDoor" type="text" id="doorLabel" name="Door Label">
        <input type="button" id="addDoor" value="Add Door" />
        <br><br>        
    </div>    
    <div style="text-align:center;">
        <b>Doors</b>
    </div>
    <table id=doorTable name="Doors">
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Is Closed</th>
            <th>Open</th>
            <th>Close</th>
            <th>Is Locked</th>
            <th>Lock</th>
            <th>Unlock</th>
            <th>Remove</th>
        </tr>
    </table>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/doorClient.js"></script>